body{
    background-color: #0e9ba0;
}

.container{
    border: 1px solid black;
    text-align: center;

    width: 95px;
    height: 100vh;
    display: flex;

}

.quotes{
    border: 1px solid black;


    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    pad: 0 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #f4d1ae;
}

.quotes p, .quotes h3{
    font-size: 1.5rem;

}

@media(max-width:480px){
    .quotes p, .quotes h3{
        font-size: 1rem;
    
    }
}

